{% extends "layout.html" %}

{% block mainContent %}
<div class="home-container">
	<div class="navbar-height"></div>
	<div id="about-image">
<!-- 		<p id="face-photo" style="text-align:center;"><img id="face-pic" src="images/selfie_circle.png" align="middle" height="250" width="250"></p> -->
	</div>
	<div id="about-summary">
		<p id="about-title">Hi, nice to meet you!</p>
		<p class="default-text">Hi! I'm Steven Kang! I'm an Economics and History double major at Yale University. But I've learned to code through classes as well as on my own. I'm from Fairfax, Virginia, an avid basketball and football fan, and a curious mind. I've got a passion for exploring new projects and seeing my ideas materialize. Lately, I've been really interested in machine learning and its applications in the real world, trying to find a nice balance of theory and entrepreneurship.</p>

		<p class="default-text">Following dreams is a privilege, and I want to use my privilege to the fullest. Because of this, I live by a few guiding principles. Never settle. Never settle for less than perfect. Always have something bigger and better to work towards, some new idea for how to contribute something meaningful to the world. Only work on things that energize you.</p>
		<p class="default-text">Contact Me! I always love to meet new people, so feel free to shoot me an email @ steven.kang@yale.edu.</p>
		<p class="default-text">Or if you'd prefer, you can add me on Facebook, Github, or LinkedIn</p>
	</div>
</div>
{% endblock %}

