{% extends "layout.html" %}

{% block mainContent %}
<div class="home-container">
	<div class="home-background" id="dummy-image"></div>
	<div class="navbar-height"></div>
	<div id="my-face">
		<p id="face-photo" style="text-align:center;"><img id="face-pic" src="images/selfie_circle.png" align="middle" height="250" width="250"></p>
		<p id="home-greeting1" style="text-align:center;">Hi, I'm Steven ~</p>
		<p id="home-greeting2">whether it's through learning then trying or simply through teaching, I want to help create beauty.</p>
	</div>
</div>
{% endblock %}

