<!DOCTYPE html>
<html>
  <head>
  	<title>resume</title>
  	<link rel='stylesheet' href='/stylesheets/resume.css' />
    <!-- client-side javascript. -->
    <script src="/js/jquery-1.11.2.min.js"></script>
	<script src="/js/responsive.js"></script>
  </head>

  <body>
<!--   	<div class="resume-background"></div>
  	<div id="pdf-file">
  		<embed src="images/Steven_Kang_resume.pdf" width=100 height=100 type='application/pdf'>
  	</div> -->

  	<div class="resume-container">
	    <div class="resume-background"></div>
	</div>
	<iframe src="/images/Steven_Kang_resume.pdf" class="resume-iframe" frameborder="0"></iframe>
  </body>
 </html>