@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
  	font-weight: 300;
  	font-style: normal;
	src: url("../fonts/Montserrat/Montserrat-Regular.tff"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}