.projects-container {
	width: 100%;
	position: absolute;
	margin-bottom: 8%;
}

.projects-inner-container {
	width: 50%;
	height: 100%;
	padding-top: 70px;
	max-width: 650px;
	margin: 0 auto;
}

.projects-project-container {
	width:100%;
	height: 100%;
}

.internship-inner-container {
	width: 50%;
	height: 100%;
	padding-top: 60px;
	max-width: 650px;
	margin: 0 auto;
}

.projects-title-screen {
	margin-bottom: 7%;
}

.projects-project-item {
	background: #f4f4f4;
	box-shadow: 0px 5px 5px -5px gray;
	margin-top: 30px;
	border-radius: 9px;
	/* cursor: pointer; */
}

.no-padding {
	width: 100% !important;
	padding: 0px !important;
}

.special-padding {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 25px;
	padding-top : 25px;
}


/* Gradient color1 - color2 - color1 */

/* Double-color dashed line */

.projects-picture {
	width: 100%;
	height: 200px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.projects-text {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
}

#edison-project-picture {
	background-image: url("../images/edison-pic.png");
	background-size:cover;
	background-position: center center;
}

#penpal-project-picture {
	background-image: url("../images/penpal-pic.png");
	background-size:cover;
	background-position: center center;
}

#aflume-project-picture {
	background-image: url("../images/aflume-pic.png");
	background-size:cover;
	background-position: center center;
}

#yhack-project-picture {
	background-image: url("../images/yhack-pic.png");
	background-size:cover;
	background-position: top center;
}

#codeblue-project-picture {
	background-image: url("../images/codeblue-pic.png");
	background-size:cover;
	background-position: top center;
}

#finance-project-picture {
	background-image: url("../images/finance-pic.png");
	background-size:cover;
	background-position: top center;
}

#airbox-project-picture {
	background-image: url("../images/airbox-dark-pic.png");
	background-size:cover;
	background-position: center center;
}

#kg-project-picture {
	background-image: url("../images/kg-pic.png");
	background-size:cover;
	background-position: center center;
}

#seemail-project-picture {
	background-image: url("../images/seemail-pic.png");
	background-size:cover;
	background-position: center center;
}

#som-project-picture {
	background-image: url("../images/som-pic.png");
	background-size:cover;
	background-position: center;
}

#ms-project-picture {
	background-image: url("../images/ms-pic.jpg");
	background-size:cover;
	background-position: center;
}

#isisph-project-picture {
	background-image: url("../images/isisph-pic.png");
	background-size:cover;
	background-position: top center;
}

#sdsc-project-picture {
	background-image: url("../images/avp_activation.jpg");
	background-size:cover;
	background-position: center center;
}


.projects-project-item hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.projects-project-item h1 {
	font-weight: 100;
	font-size: 14px;
  	font-weight: 300;
  	font-family: 'Lato', sans-serif;
  	line-height: 1.1;
}

.h1caps { text-transform: uppercase; color: #606060;}
.authors { color: #A4A4A4; font-size: 12px !important;}
.dates {color: #A4A4A4; font-size: 12px !important;}
