

.projects-container {
	width: 100%;
	position: absolute;
	margin-bottom: 8%;
/*	background-color: blue;*/
}

.projects-inner-container {
	width: 50%;
	height: 100%;
	padding-top: 70px;
	max-width: 650px;
	margin: 0 auto;
/*	background-color: red;*/
}


.projects-project-container {
	width:100%;
	height: 100%;
/*	background-color: black;*/
}

.internship-inner-container {
	width: 50%;
	height: 100%;
	padding-top: 60px;
	max-width: 650px;
	margin: 0 auto;
}

.projects-title-screen {
	margin-bottom: 7%;
}

.projects-project-item {
	background: #f4f4f4;
	box-shadow: 0px 5px 5px -5px gray;
	margin-top: 30px;
	border-radius: 9px;
	/* cursor: pointer; */
}

.no-padding {
	width: 100% !important;
	padding: 0px !important;
}lesa

.special-padding {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 25px;
	padding-top : 25px;
}


/* Gradient color1 - color2 - color1 */

/* Double-color dashed line */

.projects-picture {
	width: 100%;
	height: 200px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.projects-text {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
}


#picme-project-picture {
	background-image: url("../images/picme-pic.png");
	background-size:cover;
	background-position: center center;
}

#yhack-project-picture {
	background-image: url("../images/yhack-pic.png");
	background-size:cover;
	background-position: top center;
}

#freedomforum-project-picture {
	background-image: url("../images/freedomforum-pic.png");
	background-size:cover;
	background-position: center center;
}

.projects-project-item hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.projects-project-item h1 {
	font-weight: 100;
	font-size: 14px;
  	font-weight: 300;
  	font-family: 'Lato', sans-serif;
  	line-height: 1.1;
}

.project-description-text {
	font-family: 'PT Sans', sans-serif;
}

.h1caps { text-transform: uppercase; color: #606060;}
.authors { color: #A4A4A4; font-size: 12px !important;}
.dates {color: #A4A4A4; font-size: 12px !important;}
