/* The CSS file for the home page (index.html) */

/*Why can't I align my text to the right???????*/

body {
	margin: 0;
}

h1 {
	/*wow Mike just picked the #1 font on the list*/
	font-family: 'Montserrat', sans-serif;
/*	font-family: 'Kreon', sans-serif;*/
/*	font-family: 'Italiana', sans-serif;*/

	letter-spacing: .75px;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
}

.header-tab-text {
	text-decoration: none;
	color: #a8a8a8;
	-webkit-transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}

.header-tab-text:hover {
    color: #48c9ea;
/*    text-decoration: underline;*/
	border-width: 0 0 2px;
    border-style: solid;
}

.logo-text {
	text-transform: uppercase;
}

.home-loading-caption {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.home-loading h1 {
	color: white;
	font-size: 30px;
	z-index: 10001;
}

.home-background {
	height: 100%;
	width: 100%;
	position: absolute;
/*	background-image: url("../images/yhack_photo1.jpg");*/
	background-image: url("../images/yale_lamp_post.jpg");
/*	background-image: url("../images/yale_old_campus.jpg");*/
	/*background-image: url("../images/yale_calhoun_college.jpg");*/
	background-size: cover;
	background-position: center;
}

.home-menu-container {
	width: 100%;
	position: fixed;
/*	bottom: 0;*/
	transition: left .3s ease-in-out;
	left: 0;
	overflow: hidden;
	z-index: 9009;
/*	line-height: 1;*/
	letter-spacing: 0;
/*	border-top: 1px solid #dedede;*/
}

.home-menu-container header {
	display: block;
	padding: 15px 0;
	position: relative;
	background-color: #fff;
/*	border-top: 1px solid #dedede;*/
}

.navbar-height {
	position: relative;
	height:76px;
	display: block;
	width: 100%;
}

.extra-height {
	position: relative;
	height:38px;
	display: block;
	width: 100%;
}

#header-menu-logo {
	display: inline-block;
	vertical-align: middle;
	padding-left: 55px;
}

#header-nav-container {
	display: inline-block;
	vertical-align: middle;
/*	text-align: left;*/
	text-align: right;
	padding-left: 20px;
/*	padding-right: 20px;*/
}

#header-nav-container .header-nav-menu ul li {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
/*	margin-right: 50px;*/
	margin-left: 50px;
	position: relative;
	text-transform: uppercase;
	font-size: 15px;
/*	font-family: 'PT Sans', sans-serif;*/
	font-family: 'Italiana', sans-serif;
	letter-spacing: .75px;
	font-weight: 300;
	font-style: normal;
}

#header-nav-container .header-nav-menu ul {
	margin: 0;
	padding-left: 33px;
}

#my-face {
	width: 34%;
/*    border-width: 1 1 2px;
    border-style: solid;*/
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    /*what is margin? what if i did margin instead of padding??*/
    margin-top: 38px;
    margin-left: 70px;
    padding-bottom: 50px;

}

#face-pic {
    position: relative;
}

#face-photo {
	padding-top: 20px;
}

#home-greeting1 {
	color: rgba(255, 255, 255, .8);
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: 22px;
	padding: 5px;
	padding-left: 10px;
	margin-left: 10px;
}

#home-greeting2 {
	color: rgba(255, 255, 255, .8);
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: 18px;
	padding: 5px;
	padding-left: 10px;
	margin-left: 10px;
}



/*img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}*/
