.talks-container {
	width: 100%;
	position: absolute;
}

.talks-inner-container {
	width: 50%;
	height: 100%;
	padding-top: 70px;
	max-width: 650px;
	margin: 0 auto;
}

.talks-project-container {
	width:100%;
	height: 100%;
	margin-bottom: 150px;
}

.talks-title-screen {
	margin-bottom: 7%;
}

.talks-embed {
	padding: 20px;
}

.talks-project-item {
	background: #f4f4f4;
	box-shadow: 0px 5px 5px -5px gray;
	margin-top: 30px;
	border-radius: 9px;
	/* cursor: pointer; */
}

.talks-picture {
	width: 100%;
	height: 200px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.talks-text {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
}


.talks-project-item h1 {
	font-weight: 100;
	font-size: 14px;
  	font-weight: 300;
  	font-family: 'Lato', sans-serif;
  	line-height: 1.1;
}

.h1caps { text-transform: uppercase; color: #606060;}
.dates {color: #A4A4A4; font-size: 12px !important;}
